<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quis
      dolorem magni et ipsa, sapiente voluptate expedita ipsum reiciendis natus?
    </p>
  </header>
  <div class="card card--secondary" style="width: 50%">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
      consectetur quas vitae repellendus vero ullam cumque nisi ex corporis
      dolores voluptate sunt fuga minima impedit dicta laboriosam, praesentium
      rem magnam?
    </div>
  </div>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quis
      dolorem magni et ipsa, sapiente voluptate expedita ipsum reiciendis natus?
    </p>
  </div>
</section>
